.imgup{
  position:fixed;
  bottom:30px;
  right:20px;
  cursor:pointer;
  display:none;
  width: 65px;
  z-index: 100;
  
}

 /* cookie popup */
 

.eucookie-pop-up { display:none; position:fixed; z-index:9999; bottom:0; left:0; right:0; background:#0E8CE4; color:#fff; margin:1em; padding:0.5em; text-align:center; } 
.eucookie-pop-up .dismiss { float:left; width:7%; text-align:center; padding-top:1em; } 
.eucookie-pop-up .dismiss a { color:#fff; cursor:pointer; font-weight:bold; font-size:150%; padding:1em; } 
.eucookie-pop-up .content { f4loat:left; width:92%;  text-align:center;  } 
.eucookie-pop-up .content a { text-decoration: underline;color:#fff } 

